

/* BASICS */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* BASICS */

.object-info {
  display: flex;
}

.overview{
  display: flex;
  flex-direction: row;
}

.list{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}

.single{
  width: 100%;
  aspect-ratio: 1;
}

.modal{
  background-color: white;
  position: absolute;
  inset: 0;
}